body {
    position: relative;
    background-color: lightblue;
    color: whitesmoke;
}

h1 {
    text-shadow:
    -1px -1px 0 black,
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;
    margin: 60px auto;
    width: 250px;
}

#canvas1 {
    display: block;
    background-color: white;
    border: 2px solid black;
    margin: 40px auto;
}

#btnWrapper {
    display: block;
    margin: 0 auto;
    width: fit-content;
}



#btnWrapper button:disabled {
    background-color: aliceblue;
    color: black;
    cursor: not-allowed;
}

#optionsOverlay {
    background-color: #AAF0D1;
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 2px solid black;

    width: 80vw;
    height: 80vh;
}

.button {
    border: 0;
    padding: 20px 10px;
    background-color: lightgreen;
    color: whitesmoke;
    width: 100px;
    border-radius: 10px;
    border: 1px solid gray;
    text-shadow: 0px 0px 6px rgba(24, 24, 27, 1);
}

#closeBtn {
    margin: 20px;
    background-color: red;
}

#overlay-btnWrapper h1 {
    margin: 10px;
    color: white;
}